body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: #111;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
nav a{
    color: white;
    text-decoration: none;
    

}
 nav a:hover {
   
    
    color: #ccc;
 }
 section {
    padding: 60px 20px;
    border-bottom: 1px solid #ddd;

 }
 h1{
    margin-bottom: 10px;
    font-size: 28px;

 }
 h2{
    color: #333;
  margin-bottom: 15px;
  font-size: 24px;

 }
 main {
   max-width: 800px;
   margin: auto;

}
nav {
   margin-top: 10px;
}
nav {
   display: flex;
   gap: 20px;
}
p{
   line-height: 1.6;
}
section:nth-child(even){
   background-color: #f9f9f9;
}
.skills-container{
display: flex;
gap:20px;
flex-wrap: wrap;
}
.skill-card{
   background-color: white;
   padding: 20px 30px;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   font-weight: 500;

   }
