body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: #111;
    color: white;
    padding: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    transition: 0.3s;

}
 nav a:hover {
    text-decoration: underline;
    color: #f4f4f4;
    color: #ccc;
 }
 section {
    padding: 60px 20px;
 }
 h1{
    margin-bottom: 10px;
    font-size: 28px;

 }
 h2{
    color: #333;
 }
 main {
   max-width: 800px;
   margin: auto;

}
nav {
   margin-top: 10px;
}
nav {
   display: flex;
   gap: 20px;
}
